.loginParentDiv {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    text-align: center;
    background-color: hsla(0,0%,85.9%,.6);
  }
  
  .loginParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    width: 85%;
  }
  
  .loginParentDiv button {
    width: 85%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
    border-radius: 10px;
  }
  .loginParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
    transition: 0.5s;
  }
  .loginParentDiv button:not(:hover) {
    transition: 0.5s ease;
  }
  
  .loginParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;
  }
  